# Python / Environment
__pycache__/
*.py[cod]
.env/
venv/
env/

# Django
*.sqlite3
media/
static/

# IDE & OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Build/Dist
*.egg-info/
dist/
build/

# Testing
.coverage
htmlcov/
.tox/
